@media only screen and (min-width: 1200px) {
	.page-layout {
		height: 100vh;
		overflow: auto;
	}
}
@media only screen and (max-width: 1199px) {
	.page-layout {
		padding-bottom: 60px;
	}
}
.input-group {
	border-radius: 4px;
}
.issues-search-category > .form-control {
	background-color: transparent;
	border: none;
}
.issues-search-category {
	height: 20%;
}

.new-issue-request {
	border-radius: 6px;
}
